@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  html {
    @apply text-gray-800;
  }

  .link {
    color: rgb(29 78 216 / var(--tw-text-opacity));
    font-weight: 600;
  }

  .heading {
    font-size: 4.5rem /* 72px */;
    line-height: 1;
    text-align: center;
    font-weight: 600;
  }

  @media (hover: hover) and (pointer: fine) {
    .link:hover {
      text-decoration: underline;
    }
  }
}
